<!--
Tiffany Ferderer
1/24/2021
home.html
Pet dating website
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4 Paws Only</title>

    <!-- CSS (Make sure Bootstrap is first) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- favicon -->
    <link rel="icon" type="image/jpg" href="images/petLogo.png">
</head>
<body>

<!-- *********** Navigation Bar ********** -->
    <nav class="navbar navbar-expand bg-light">
        <a class = "navbar-brand text-dark font-italic" href="#">4 Paws Only</a>
    </nav>

<!-- *********** Landing page ***********-->
    <div class="container-fluid border-top border-bottom border-light m-4">
         <div class="row m-3">
             <div class="col-6 text-center">
                 <h1> 4 Paws Only</h1>
                 <p class="text-left">Is your dog lonely? We can help you! Focused on finding your pet
                 their ideal partner, we match your furry friend with local pups that
                 share the same hobbies and personalities.</p>

                 <h6>See what our users are saying about us.</h6>
                 <div class="border-top border-bottom font-italic">
                     <ul>
                         <li>"My dog Lucy and I don't live near a dog park. 4 paws only
                             made it easy to find puppy partners to keep her social life flourishing." -Andy and Lucy</li>
                         <li>"My dog Skittles always would try to talk to the other pups in the
                             neighborhood, but they didn't reciprocate. Thanks to 4 Paws only, Skittles met her doggy
                             boyfriend and she is much happier and full of life!" -Tracy and Skittles</li>
                         <li>"Using this website has made my dog less lonely. Highly recommend." -Jenny and Commander</li>
                     </ul>
                 </div> <!--holds quote list-->

                 <form method="get" action="register">
                <input type="submit" class="btn btn-success mt-2" value="Get Started">
                 </form>
            </div><!--column -->

            <div class="col-6">
                <img src="images/dogs.png" class="rounded float-right img-fluid mr-3" alt="Dogs playing" width= 470 id = "partner"/>
            </div><!--column -->
         </div><!--row-->
    </div> <!--container -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>