<!--
Tiffany Ferderer
Dating 2
2/6/2021
Gathers profile interests
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>

        <!-- CSS (Make sure Bootstrap is first) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/interest-styles.css">

        <!-- favicon -->
        <link rel="icon" type="image/jpg" href="images/petLogo.png">
    </head>

    <body>
        <!-- *********** Navigation Bar ********** -->
        <nav class="navbar navbar-expand bg-light">
            <a class = "navbar-brand text-black-50 font-italic" href="{{ @BASE }}">4 Paws Only</a>
        </nav>

        <!-- *********** Profile Information Form ********** -->
        <div class="container">
            <div class="border rounded mt-4 p-4 pb-5 mb-4">
                <h2>Interests</h2>
                <hr>

                <form action="summary" method="post">
                    <div class="form-group">
                        <label class="control-label">Indoor Interests:</label>

                        <div class="font-weight-normal">
                            <div class="row ml-2">
                                <div class="col-3">
                                    <input type="checkbox"  id="tv" name="indoor[]" value="tv">
                                    <label class=" font-weight-normal " for="tv">TV</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="groom" name="indoor[]" value="grooming">
                                    <label class=" font-weight-normal" for="groom">Grooming</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="sleep" name="indoor[]" value="sleeping">
                                    <label class=" font-weight-normal" for="sleep">Sleeping on the couch</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="snuggles" name="indoor[]" value="snuggles">
                                    <label class=" font-weight-normal" for="snuggles">Snuggling with my owner</label>
                                </div>
                            </div>

                            <div class="row ml-2">
                                <div class="col-3">
                                    <input type="checkbox"  id="treats" name="indoor[]" value="treats">
                                    <label class="font-weight-normal" for="treats">Treats</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="learning" name="indoor[]" value="learning">
                                    <label class="font-weight-normal" for="learning">Learning new commands</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="window" name="indoor[]" value="windows">
                                    <label class="font-weight-normal" for="window">Window watching</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="seek" name="indoor[]" value="hide-n-seek">
                                    <label class="font-weight-normal" for="seek">Hide-n-Seek</label>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>

                    <div class="form-group">
                        <label class="control-label">Outdoor Interests:</label>
                        <div>

                            <div class="row ml-2">
                                <div class="col-3">
                                    <input type="checkbox"  id="fetch" name="outdoor[]" value="fetch">
                                    <label class=" font-weight-normal " for="fetch">Playing fetch</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="walks" name="outdoor[]" value="walks">
                                    <label class=" font-weight-normal" for="walks">Going on walks</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="biking" name="outdoor[]" value="biking">
                                    <label class=" font-weight-normal" for="biking">Biking</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="chases" name="outdoor[]" value="chases">
                                    <label class=" font-weight-normal" for="chases">Chasing squirrels</label>
                                </div>
                            </div>

                            <div class="row ml-2">
                                <div class="col-3">
                                    <input type="checkbox"  id="sunbathing" name="outdoor[]" value="sunbathing">
                                    <label class="font-weight-normal" for="sunbathing">Sunbathing</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="swimming" name="outdoor[]" value="swimming">
                                    <label class="font-weight-normal" for="swimming">Anything water!</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox"  id="tug-o-war" name="outdoor[]" value="tug-o-war">
                                    <label class="font-weight-normal" for="tug-o-war">Tug-o-war</label>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>

                    <div class="float-right">
                        <input class="form-control btn btn-primary"
                               type="submit" value="Next">
                    </div> <!--button -->
                </form>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>