label{
    font-weight: bolder;
}
ul {
    list-style-type: none;
}
li{
    margin-bottom: 1em;
}
#partner{
    object-fit: cover;
}
h2{
    padding-top: 20px;
}
#note{
    margin: 5px;
    font-weight: 490;
}
#noteBorder{
    border-width: 2px !important;
}