label{
    font-weight: 630;
    margin-top: .5rem;
    margin-bottom: .25rem;
}
nav{
    font-weight: 500;
    color: grey;
}
ul {
    list-style-type: none;
}
li{
    margin-bottom: 1em;
}
#partner{
    object-fit: cover;
}
h2{
    padding-top: 20px;
}
#note{
    margin: 5px;
    font-weight: 490;
}
#noteBorder{
    border-width: 2px !important;
}
#bio-title{
    font-size: larger;
}